.header {
  position: relative;
  margin: 103px 0 89px 0;
}

.header-title,
.header-description {
  text-align: center;
}

.header-title {
  color: var(--black);
  margin-bottom: 12px;
}

.header-description {
  color: var(--gray);
}

.header-img {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.pricing-card {
  background: #fff;
  border-radius: 8px;
  max-width: 540px;
  width: 100%;
}

#pricing-card-top {
  border-bottom: 1px solid var(--light-gray);
  padding: 40px 48px;
}

#pricing-card-bottom {
  padding: 32px 48px;
}
